1{% load static %}
<!-- Navbar 영역 -->
<nav class="navbar navbar-expand-lg navbar-light container my-3 " style=" background-color: rgb(0, 0, 0)" >
  <div class="container"   >

    <!-- Logo 영역 -->
    <a class="mb-2 navbar-brand fs-2 fw-bold text-success" href="/"><img src= {% static "Board\images\gm.png" %} width="100" height="70" alt=""> KG GAME</a>

    <!-- 햄버거 메뉴 영역 (data-target : Menu ID)-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content 영역 -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav mb-2 mb-lg-0">

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-success mx-5 fs-5 fw-normal" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Download
          </a>
          <ul class="dropdown-menu bg-dark  bg-opacity-50"  aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item text-success" href="#">Game</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-success" href="#">권장 시스템 사양 </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-success mx-5 fs-5 fw-normal" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            고객지원
          </a>
          <ul class="dropdown-menu bg-dark  bg-opacity-50"  aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item text-success" href="#">1:1 문의</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-success" href="#">버그악용, 불법프로그램 신고 </a>
            </li>
          </ul>
        </li>

        {% if user.is_anonymous %}
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-success mx-5 fs-5 fw-normal" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            계정
          </a>
          <ul class="dropdown-menu bg-dark  bg-opacity-50 " aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item text-success" href= "{% url 'common:login' %}" >로그인</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-success" href= "{% url 'common:signup' %}" >회원가입</a>
            </li>
            
        {% else %}  
        <li class="me-2">
        <a class="nav-link text-success fs-5 fw-normal" href="{% url 'Board:board_create' %}">
          <i class="me-2 fa-solid fa-pencil"></i>Community Write</a>
        </li>
        <li class="me-2">
          <a class="nav-link text-success fs-5 fw-normal" href="{% url 'common:logout' %}">
            <i class="fa-solid fa-right-from-bracket me-2"></i>로그아웃 [ {{user.username}} ]</a>
        </li>
        
        {% endif %}
      </ul>
    </div>

  </div>
</nav>
